form{
background-color:blueviolet;
width: 50%;
margin: auto;
border-radius: 20px;
padding: 30px;
color: black;
font-family: Arial, Helvetica, sans-serif;
box-shadow: 0 1px 10px burlywood;
}
legend{
    font-size: 30px;
text-align: center;
font-weight: bold;
margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="datetime-local"], textarea{
    width: 100%;
    height: 40px; 
    border-radius: 10px;
    border: none;
    margin margin-top: 10px;
    padding: 5px;
}
     
button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    background-color:blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: block;
   } 
      width: 100%;  