h1{
    text-align: center;
    font-size: 60px;
}
#heading1{
    color:blue;
    text-align: center;
}
#heading2{
    color: blueviolet;
    text-align: center;

}
.paragraph{
    font-weight: 500;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}
#vip{
    border-radius: 50px;
    background-color: indigo;
    display: flex;
    margin: 40px;
    margin-top: 10px;
    padding: 20px;
    border radius 300px
}
#vip img{
margin-right: 40px;
border-radius:250px;


}
#mydiv{
    margin: 40px;
    display: flex;

}